#difficultySelectionPage {
    -fx-alignment: center;
}


#difficultySelectionPageContainer {
    -fx-background-color: red;
}

#difficultySelectionPageContainer_top_middleChild {
    -fx-alignment: center;
}


#backBtn {
    -fx-background-color: black;
}

#backBtn:hover {
    -fx-cursor: hand;
}


#difficultySelectionPage_title {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}


#difficultySelectionPageContainer_bottom_inner .button {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#difficultySelectionPageContainer_bottom_inner .button:hover {
    -fx-cursor: hand;
    -fx-text-fill: red;
}