#difficultySelectionPage {
    -fx-alignment: center;
}

#difficultySelectionPageContainer {
    -fx-background-color: red;
}

#difficultySelectionPageContainerTopMiddleChild {
    -fx-alignment: center;
}

#backBtn {
    -fx-background-color: black;
}

#backBtn:hover {
    -fx-cursor: hand;
}

#difficultySelectionPageTitle {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#difficultySelectionPageContainerBottomInner .button {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#difficultySelectionPageContainerBottomInner .button:hover {
    -fx-cursor: hand;
    -fx-text-fill: red;
}