.button {
    -fx-background-color: black;
}

.button:hover {
    -fx-cursor: hand;
}


#highScoresContainerTop {
    -fx-border-color: black;
}

#highScoresContainerMiddleChild {
    -fx-alignment: center;
}

#highScoresPageTitle {
    -fx-wrap-text: true;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}


#mapSelectorContainer {
    -fx-background-color: black;
}

.mapBtn_unselected {
    -fx-background-color: red;
    -fx-font-weight: bold;
    -fx-font-size: 130%;
    -fx-border-color: black;
    -fx-background-insets: 0, 0; /* removes the button's "push down" effect */
}

.mapBtn_selected {
    -fx-background-color: black;
    -fx-font-weight: bold;
    -fx-font-size: 130%;
    -fx-border-color: red;
    -fx-text-fill: red;
}


#easyHighScoresColumn, #mediumHighScoresColumn, #hardHighScoresColumn {
    -fx-border-color: black;
}


#easyHighScoreTitle, #mediumHighScoreTitle, #hardHighScoreTitle {
    -fx-background-color: black;
    -fx-text-fill: red;
    -fx-font-weight: bold;

    -fx-pref-width: 100%;
    -fx-max-width: Infinity; /* Allow the label to expand */
    -fx-alignment: center;

    -fx-border-color: transparent transparent black transparent; /* Set only bottom border color */
}

#easyHighScoresScoreContainer, #mediumHighScoresScoreContainer, #hardHighScoresScoreContainer {
    -fx-alignment: center;
}


.highScoresActivityLabel {
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size: 150%;
}


.highScoreLabel {
    -fx-background-color: black;
    -fx-font-weight: bold;
    -fx-text-fill: red;

    /* -fx-pref-width: 150px;  there should be a max-width, in case the player enters a really long name */
    -fx-text-alignment: center;
}


#databaseCommunicationErrorPopup {
    -fx-background-color: black;
}

#databaseCommunicationErrorPopupTitle {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: red;
}

.databaseErrorText {
    -fx-wrap-text: true;
    -fx-text-fill: red;
}

#closeDatabaseErrorPopupBtn {
    -fx-background-color: red;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#closeDatabaseErrorPopupBtn:hover {
    -fx-text-fill: black;
    -fx-cursor: hand;
}