.button {
    -fx-background-color: black;
}

.button:hover {
    -fx-cursor: hand;
}


#highScoresContainer_middleChild {
    -fx-alignment: center;
}

#highScoresPage_title {
    -fx-wrap-text: true;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}


#mapSelectorContainer {
    -fx-background-color: black;
}

.mapBtn_unselected {
    -fx-background-color: red;
    -fx-font-weight: bold;
    -fx-font-size: 130%;
    -fx-border-color: black;
    -fx-background-insets: 0, 0; /* removes the button's "push down" effect */
}

.mapBtn_selected {
    -fx-background-color: black;
    -fx-font-weight: bold;
    -fx-font-size: 130%;
    -fx-border-color: red;
    -fx-text-fill: red;
}


#easyHighScores_column, #mediumHighScores_column, #hardHighScores_column {
    -fx-border-color: black;
}


#easyHighScore_title, #mediumHighScore_title, #hardHighScore_title {
    -fx-background-color: black;
    -fx-text-fill: red;
    -fx-font-weight: bold;

    -fx-pref-width: 100%;
    -fx-max-width: Infinity; /* Allow the label to expand */
    -fx-alignment: center;

    -fx-border-color: transparent transparent black transparent; /* Set only bottom border color */
}

#easyHighScores_scoreContainer, #mediumHighScores_scoreContainer, #hardHighScores_scoreContainer {
    -fx-alignment: center;
    -fx-spacing: 6px;
}


.highScores_activityLabel {
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size: 150%;
}


.highScoreLabel {
    -fx-background-color: black;
    -fx-font-weight: bold;
    -fx-text-fill: red;

    /* -fx-pref-width: 150px;  there should be a max-width, in case the player enters a really long name */
    -fx-text-alignment: center;
}