#hostGameSettingsPage {
    -fx-alignment: center;
}


#hostGameSettingsPageContainer {
    -fx-background-color: red;
}

#hostGameSettingsPageContainerTopMiddleChild {
    -fx-alignment: center;
}


#backBtn {
    -fx-background-color: black;
}

#backBtn:hover {
    -fx-cursor: hand;
}


#hostGameSettingsPageTitle {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}


#serverNameTextField, #playerNameTextField {
    -fx-border-color: black;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

#playerNameTextField:disabled {
    -fx-opacity: 1.0;
}

#serverNameTextField:focused, #playerNameTextField:focused {
    /* Normally, when you click on the newRecordPopupText, it's border color turns blue (to show that the element is in focus).
       This prevents the border color from turning blue */
    -fx-background-color: white;
}

#serverNameText, #playerNameText {
    -fx-text-fill: black;
}


#changePlayerNameBtn {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#changePlayerNameBtn:hover {
    -fx-cursor: hand;
    -fx-text-fill: red;
}