.button {
    -fx-background-color: black;
}

.button:hover {
    -fx-cursor: hand;
}

#instructionsContainer_middleChild {
    -fx-alignment: center;
}

#instructionsPage_title {
    -fx-wrap-text: true;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}


#instructionsScrollPane {
    -fx-border-color: black;
}

#instructionsScrollPane:focused {
    /* Normally, when you click on the scrollpane, it's border color turns blue (to show that the element is in focus).
       This prevents the border color from turning blue */
    -fx-background-color: transparent;
}


#section1_titleLbl {
    -fx-font-weight: bold;
    -fx-text-fill: red;
}


.instructions-img-text {
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.text {
    -fx-wrap-text: true;
    -fx-font-size: 200%;
}