#mainMenuPage {
    -fx-alignment: center;
}

#mainMenuOptionsContainer {
    -fx-alignment: center;
    -fx-background-color: red;
}

#logoContainer {
    -fx-alignment: center;
}

#logoTextBeforeO, #logoTextAfterO {
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.button:hover {
    -fx-cursor: hand;
    -fx-text-fill: red;
}