#mainMenuPage {
    -fx-alignment: center;
}

#mainMenuOptionsContainer {
    -fx-pref-width: 600px;
    -fx-alignment: center;
    -fx-background-color: coral;
    -fx-padding: 20px;
}

.label {
    -fx-font-size: 75px;
}

.button {
    -fx-font-size: 30px;
}

.button:hover {
    -fx-cursor: hand;
}
