#mapSelectionPage {
    -fx-alignment: center;
}

#mapSelectionPageContainer {
    -fx-background-color: red;
}

#mapSelectionPageContainerTopMiddleChild {
    -fx-alignment: center;
}

#backBtn {
    -fx-background-color: black;
}

#backBtn:hover {
    -fx-cursor: hand;
}

#mapSelectionPageTitle {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#rectangleMapSelectorContainer,
#bombMapSelectorContainer,
#faceMapSelectorContainer,
#flowerMapSelectorContainer {
    -fx-background-color: white;
}

#rectangleMapSelectorContainer:hover,
#bombMapSelectorContainer:hover,
#faceMapSelectorContainer:hover,
#flowerMapSelectorContainer:hover {
    -fx-cursor: hand;
    -fx-background-color: #CCCCCC;
}

.mapNameLabel {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}