#modeSelectionPage {
    -fx-alignment: center;
}


#modeSelectionPageContainer {
    -fx-background-color: red;
}

#modeSelectionPageContainer_top_middleChild {
    -fx-alignment: center;
}


#backBtn {
    -fx-background-color: black;
}

#backBtn:hover {
    -fx-cursor: hand;
}


#modeSelectionPage_title {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}


#modeSelectionPageContainer_bottom_inner .button {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#modeSelectionPageContainer_bottom_inner .button:hover {
    -fx-cursor: hand;
    -fx-text-fill: red;
}