#playPageContainerHeader {
    /*-fx-background-color: #92FFB7;*/
    -fx-background-color: #FF0000;
}

#backBtn {
    -fx-background-color: black;
}

#backBtn:hover {
    -fx-cursor: hand;
}

#totalBombsLbl, #flagsLeftLbl, #timeElapsedLbl {
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#player1PointsLbl, #player2PointsLbl {
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: #ADD8E6;
}

#player2PointsLbl {
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: #90EE90;
}

.tile-btn:focused {
    -fx-background-color: transparent;
}

#gameOverPopup {
    -fx-background-color: black;
    -fx-alignment: center;
    -fx-border-color: red;
}

#gameOverPopupTitle {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: red;
}

.playAgainBtn {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.playAgainBtn:hover {
    -fx-cursor: hand;
    -fx-text-fill: red;
}

.mainMenuBtn {
    -fx-background-color: #FF7C7C;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.mainMenuBtn:hover {
    -fx-cursor: hand;
    -fx-text-fill: red;
}

#gameOverPopupNameContainer {
    /* -fx-background-color: #6FD7F7; */
    -fx-background-color: red;
}

#gameOverPopupPlayer1NameContainer {
    /*-fx-background-color: green;*/
}

#gameOverPopupPlayer2NameContainer {
    /*-fx-background-color: yellow;*/
}

#gameOverPopupPlayer1Name, #gameOverPopupPlayer2Name {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#gameOverPopupPlayer1Id, #gameOverPopupPlayer2Id {
    /*-fx-background-color: coral;*/
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#gameOverPopupRoundContainer {
    /*-fx-background-color: #6FD7F7;*/
    -fx-background-color: red;
}

#gameOverPopupRoundLabel {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#gameOverPopupPlayer1Points, #gameOverPopupPlayer2Points {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#gameOverPopupStatsContainer {
    /*-fx-background-color: #6FD7F7;*/
    -fx-background-color: red;
}

#gameOverPopupStatsLabel {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#gameOverPopupPlayer1Wins, #gameOverPopupTies, #gameOverPopupPlayer2Wins {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#gameOverPopupReadyStateContainer {
    -fx-background-color: red;
}

#gameOverPopupPlayer1ReadyStatus, #gameOverPopupPlayer2ReadyStatus {
    -fx-background-color: black;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

#leaveGamePopup {
    -fx-background-color: black;
    -fx-alignment: center;
    -fx-border-color: red;
}

#leaveGamePopupTitle {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: red;
}

#leaveGamePopupErrorMsg {
    -fx-wrap-text: true;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

#leaveGamePopupNoBtn {
    -fx-text-fill: white;
    -fx-background-color: green;
    -fx-font-weight: bold;
}

#leaveGamePopupYesBtn {
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-font-weight: bold;
}

#leaveGamePopupNoBtn:hover, #leaveGamePopupYesBtn:hover {
    -fx-text-fill: black;
    -fx-cursor: hand;
}

#kickOutPlayer2Popup {
    -fx-background-color: black;
    -fx-alignment: center;
    -fx-border-color: red;
}

#kickOutPlayer2PopupTitle {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: red;
}

#kickOutPlayer2PopupErrorMsg {
    -fx-wrap-text: true;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

#kickOutPlayer2PopupCloseButton {
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-font-weight: bold;
}

#kickOutPlayer2PopupCloseButton:hover {
    -fx-text-fill: black;
    -fx-cursor: hand;
}