#playPageContainerHeader {
    /*-fx-background-color: #92FFB7;*/
    -fx-background-color: #FF0000;
}

#backBtn {
    -fx-background-color: black;
}

#backBtn:hover {
    -fx-cursor: hand;
}

#totalBombsLbl, #flagsLeftLbl, #timeElapsedLbl {
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#player1PointsLbl, #player2PointsLbl {
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: #ADD8E6;
}

#player2PointsLbl {
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: #90EE90;
}

.tile-btn:focused {
    -fx-background-color: transparent;
}

#gameOverPopup {
    -fx-background-color: black;
    -fx-alignment: center;
    -fx-border-color: red;
}

#gameOverPopupTitle {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: red;
}

.playAgainBtn {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.playAgainBtn:hover {
    -fx-cursor: hand;
    -fx-text-fill: red;
}

.mainMenuBtn {
    -fx-background-color: #FF7C7C;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.mainMenuBtn:hover {
    -fx-cursor: hand;
    -fx-text-fill: red;
}

#gameOverPopupPlayer1Name {
    -fx-font-weight: bold;
    -fx-text-fill: #ADD8E6;
}

#gameOverPopupPlayer2Name {
    -fx-font-weight: bold;
    -fx-text-fill: #90EE90;
}

#gameOverPopupPlayer1Id, #gameOverPopupPlayer2Id {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#gameOverPopupRoundLabel {
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

#gameOverPopupPlayer1Points {
    -fx-font-weight: bold;
    -fx-text-fill: #ADD8E6;
}

#gameOverPopupPlayer2Points {
    -fx-font-weight: bold;
    -fx-text-fill: #90EE90;
}

#gameOverPopupStatsLabel {
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

#gameOverPopupPlayer1Wins {
    -fx-font-weight: bold;
    -fx-text-fill: #ADD8E6;
}

#gameOverPopupTies {
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

#gameOverPopupPlayer2Wins {
    -fx-font-weight: bold;
    -fx-text-fill: #90EE90;
}

#gameOverPopupPlayer1ReadyStatus {
    -fx-background-color: #ADD8E6;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#gameOverPopupPlayer2ReadyStatus {
    -fx-background-color: #90EE90;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#leaveGamePopup {
    -fx-background-color: black;
    -fx-alignment: center;
    -fx-border-color: red;
}

#leaveGamePopupTitle {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: red;
}

#leaveGamePopupErrorMsg {
    -fx-wrap-text: true;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

#leaveGamePopupNoBtn {
    -fx-text-fill: white;
    -fx-background-color: green;
    -fx-font-weight: bold;
}

#leaveGamePopupYesBtn {
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-font-weight: bold;
}

#leaveGamePopupNoBtn:hover, #leaveGamePopupYesBtn:hover {
    -fx-text-fill: black;
    -fx-cursor: hand;
}

#kickOutPlayer2Popup {
    -fx-background-color: black;
    -fx-alignment: center;
    -fx-border-color: red;
}

#kickOutPlayer2PopupTitle {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: red;
}

#kickOutPlayer2PopupErrorMsg {
    -fx-wrap-text: true;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

#kickOutPlayer2PopupCloseButton {
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-font-weight: bold;
}

#kickOutPlayer2PopupCloseButton:hover {
    -fx-text-fill: black;
    -fx-cursor: hand;
}

#player2DisconnectedPopup {
    -fx-background-color: black;
    -fx-alignment: center;
    -fx-border-color: red;
}

#player2DisconnectedPopupTitle {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: red;
}

#player2DisconnectedPopupErrorMsg {
    -fx-wrap-text: true;
    -fx-text-fill: red;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

#player2DisconnectedPopupCloseButton {
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-font-weight: bold;
}

#player2DisconnectedPopupCloseButton:hover {
    -fx-text-fill: black;
    -fx-cursor: hand;
}