#playPageContainer_header {
    /*-fx-background-color: #92FFB7;*/
    -fx-background-color: #FF0000;
}


#backBtn {
    -fx-background-color: black;
}

#backBtn:hover {
    -fx-cursor: hand;
}


.button {
    -fx-background-size: 200%;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat, no-repeat;
}


#totalBombsLbl, #flagsLeftLbl, #timeElapsedLbl {
    -fx-alignment: center;
    -fx-font-weight: bold;
}


.tile-btn:focused {
    -fx-background-color: transparent;
}


#exitPagePopup, #gameLostPopup, #gameWonPopup, #newRecordPopup {
    -fx-background-color: black;
    -fx-alignment: center;
}

#exitPagePopup_title, #gameLostPopup_title, #gameWonPopup_title, #newRecordPopup_title {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: red;
}

#gameLostPopup_timeTaken, #gameWonPopup_timeTaken, #newRecordPopup_timeTaken {
    -fx-font-weight: bold;
    -fx-text-fill: gold;
}


#exitPagePopup_text, #newRecordPopup_text {
    -fx-wrap-text: true;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-fill: red;
}



#playerInfo_hbox {
    -fx-alignment: center;
}

#playerName_textField {
    -fx-border-color: black;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

#playerName_textField:focused {
    /* Normally, when you click on the newRecordPopup_text, it's border color turns blue (to show that the element is in focus).
       This prevents the border color from turning blue */
    -fx-background-color: white;
}

#playerName_error {
    -fx-text-fill: red;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}



.playAgainBtn {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.playAgainBtn:hover {
    -fx-cursor: hand;
    -fx-text-fill: red;
}


.mainMenuBtn {
    -fx-background-color: #FF7C7C;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.mainMenuBtn:hover {
    -fx-cursor: hand;
    -fx-text-fill: red;
}


#serverCommunicationErrorPopup {
    -fx-background-color: black;
    -fx-padding: 10px;
}

#serverCommunicationErrorPopup_title {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: red;
    -fx-pref-width: 500px;
}

.serverErrortext {
    -fx-wrap-text: true;
    -fx-font-size: 16px;
    -fx-text-fill: red;
}

#closeServerErrorPopupBtn {
    -fx-pref-width: 480px;
    -fx-pref-height: 40px;
    -fx-background-radius: 20px;
    -fx-background-color: red;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#closeServerErrorPopupBtn:hover {
    -fx-text-fill: black;
    -fx-cursor: hand;
}

#serverErrorLastSentence {
    -fx-padding: 12px 0 20px 0;
}