#playPageContainerHeader {
    /*-fx-background-color: #92FFB7;*/
    -fx-background-color: #FF0000;
}

#backBtn {
    -fx-background-color: black;
}

#backBtn:hover {
    -fx-cursor: hand;
}

#totalBombsLbl, #timeElapsedLbl, #flagsLeftLbl {
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.tile-btn:focused {
    -fx-background-color: transparent;
}

#exitPagePopup, #gameLostPopup, #gameWonPopup, #newRecordPopup {
    -fx-background-color: black;
    -fx-alignment: center;
    -fx-border-color: red;
}

#exitPagePopupTitle, #gameLostPopupTitle, #gameWonPopupTitle, #newRecordPopupTitle {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: red;
}

#gameLostPopupTimeTaken, #gameWonPopupTimeTaken, #newRecordPopupTimeTaken {
    -fx-font-weight: bold;
    -fx-text-fill: gold;
}

#exitPagePopupText, #newRecordPopupText {
    -fx-wrap-text: true;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-fill: red;
}

#playerInfoHbox {
    -fx-alignment: center;
}

#playerNameTextField {
    -fx-border-color: black;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

#playerNameTextField:focused {
    /* Normally, when you click on the newRecordPopupText, it's border color turns blue (to show that the element is in focus).
       This prevents the border color from turning blue */
    -fx-background-color: white;
}

#playerNameError {
    -fx-text-fill: red;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}

.playAgainBtn {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.playAgainBtn:hover {
    -fx-cursor: hand;
    -fx-text-fill: red;
}

.mainMenuBtn {
    -fx-background-color: #FF7C7C;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.mainMenuBtn:hover {
    -fx-cursor: hand;
    -fx-text-fill: red;
}

#databaseCommunicationErrorPopup {
    -fx-background-color: black;
    -fx-border-color: red;
}

#databaseCommunicationErrorPopupTitle {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: red;
}

.databaseErrorText {
    -fx-wrap-text: true;
    -fx-text-fill: red;
}

#closeDatabaseErrorPopupBtn {
    -fx-background-color: red;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#closeDatabaseErrorPopupBtn:hover {
    -fx-text-fill: black;
    -fx-cursor: hand;
}

#databaseErrorLastSentence {
    -fx-text-fill: red;
}