#playPageContainer_header {
    -fx-background-color: #92FFB7;
}


#backBtn {
    -fx-background-color: black;
}

#backBtn:hover {
    -fx-cursor: hand;
}


.button {
    -fx-background-size: 200%;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat, no-repeat;
}


#totalBombsLbl, #flagsLeftLbl, #timeElapsedLbl {
    -fx-alignment: center;
    -fx-font-weight: bold;
}


#gameLostPopup, #gameWonPopup, #newRecordPopup {
    -fx-background-color: black;
    -fx-alignment: center;
}

#gameLostPopup_title, #gameWonPopup_title, #newRecordPopup_title {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: red;
}

#gameLostPopup_timeTaken, #gameWonPopup_timeTaken, #newRecordPopup_timeTaken {
    -fx-font-weight: bold;
    -fx-text-fill: gold;
}


#newRecordPopup_text {
    -fx-wrap-text: true;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-fill: red;
}



#playerInfo_hbox {
    -fx-alignment: center;
}

#playerName_textField {
    -fx-border-color: black;
    -fx-alignment: center;
}

#playerName_textField:focused {
    /* Normally, when you click on the newRecordPopup_text, the it's border color turns blue (to show that the element is in focus).
       This prevents the border color from turning blue */
    -fx-background-color: white;
}

#playerName_error {
    -fx-text-fill: red;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}



.playAgainBtn {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.playAgainBtn:hover {
    -fx-cursor: hand;
    -fx-text-fill: red;
}


.mainMenuBtn {
    -fx-background-color: #FF7C7C;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.mainMenuBtn:hover {
    -fx-cursor: hand;
    -fx-text-fill: red;
}