#topPageContainer {
    -fx-background-color: red;
}

#backBtn {
    -fx-background-color: black;
}

#backBtn:hover {
    -fx-cursor: hand;
}


#roomIdTitleLabel, #roomIdLabel {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#roomNameTitleLabel, #roomNameLabel {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#totalPlayersTitleLabel, #totalPlayersLabel {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}


#settingsContainer {
    -fx-border-color: black;
}

#settingsContainerTitleLabel {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: black;
}


#selectMapLabel {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#mapBox {
    -fx-background-color: white;
}

#mapBox:hover {
    -fx-cursor: hand;
    -fx-background-color: #CCCCCC;
}

#mapNameLabel {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}


#selectDifficultyLabel {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#difficultyBox {
    -fx-background-color: white;
}

#difficultyBox:hover {
    -fx-cursor: hand;
    -fx-background-color: #CCCCCC;
}

#difficultyNameLabel {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}


.toggle_btn {
    -fx-background-color: orange;
}

.toggle_btn:hover {
    -fx-cursor: hand;
    -fx-background-color: #FFC755;
}


#readyButton {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#readyButton:hover {
    -fx-cursor: hand;
    -fx-background-color: #808080;
}

#startGameButton {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#startGameButton:hover {
    -fx-cursor: hand;
}


#playersContainer {
    -fx-border-color: black;
}

#playersContainerTitleLabel {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: black;
}

#playerIconsContainer {
    -fx-border-color: transparent transparent black transparent;
}

#player1Box, #player2Box {
    -fx-background-color: gold;
}

#player1NameLabel, #player2NameLabel {
    -fx-alignment: center;
    -fx-text-fill: black;
}

#player1ReadyStateLabel, #player2ReadyStateLabel {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}


#voiceChatBox {
    -fx-background-color: #4682B4;
}

#voiceChatBox:hover {
    -fx-cursor: hand;
    -fx-background-color: #5B8FB6;
}

#voiceChatLabel {
    -fx-alignment: center;
    -fx-text-fill: white;
}


#bottomPageContainer {
    -fx-background-color: red;
}


#leaveRoomPopup {
    -fx-background-color: black;
    -fx-alignment: center;
    -fx-border-color: red;
}

#leaveRoomPopupTitle {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: red;
}

#leaveRoomPopupErrorMsg {
    -fx-wrap-text: true;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

#leaveRoomPopupNoBtn {
    -fx-text-fill: white;
    -fx-background-color: green;
    -fx-font-weight: bold;
}

#leaveRoomPopupYesBtn {
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-font-weight: bold;
}

#leaveRoomPopupNoBtn:hover, #leaveRoomPopupYesBtn:hover {
    -fx-text-fill: black;
    -fx-cursor: hand;
}


#kickOutPlayer2Popup {
    -fx-background-color: black;
    -fx-alignment: center;
    -fx-border-color: red;
}

#kickOutPlayer2PopupTitle {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: red;
}

#kickOutPlayer2PopupErrorMsg {
    -fx-wrap-text: true;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

#kickOutPlayer2PopupCloseButton {
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-font-weight: bold;
}

#kickOutPlayer2PopupCloseButton:hover {
    -fx-text-fill: black;
    -fx-cursor: hand;
}